html,
body {
    margin: 0;
    padding: 0;
}


body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
    width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.entry {
    display: inline-block;
    width: 45%;
    height: 200px;
    font-size: 12px;
}

#inputs {
  line-height: 3em;
}

#buttons {
    float: right;
    display: block;
}

#purchase-button {
  background: rgb(28,184,65);
} 

#reset-button {
  background: rgb(66,184,221);
}

#purchase-button, #reset-button{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    display: block;
}

form {
  width: 80%;
  margin 0 auto;
}

label, input {
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}

label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}

input + input {
  float: right;
}

input {
}

#states {
  font-size: 20px;
}

table.tableSection {
  display: table;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

table.tableSection thead, table.tableSection tbody {
  width: 100%;
  float: left;
}

table.tableSection thead {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}

table.tableSection tbody {
  overflow: auto;
  height: 130px;
}

table.tableSection tr {
  width: 100%;
  display : table;
  text-align: center;
}

caption {
  padding: 4px;
  font-size: 1.5em;
}

table.tableSection tr:nth-child(even){
  background-color: #E4E4E4;
}

table.tableSection th, table.tableSection td {
  width: 48%;
}

#sales {
    float: right;
}

#todoapp {
    margin: 130px 0 40px 0;
    position: relative;
}

h1 {
    position: absolute;
    top: -120px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

#header {
    padding-top: 15px;
}

#clear-completed {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    line-height: 40px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    display: block;
    width: 80%;
}

#clear-completed:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

/*
    Hack to remove background from Mobile Safari.
    Can't use it globally since it destroys checkboxes in Firefox and Opera
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #toggle-all,
    #todo-list li .toggle {
        background: none;
    }

    #todo-list li .toggle {
        height: 40px;
    }

    #toggle-all {
        top: -56px;
        left: -15px;
        width: 65px;
        height: 41px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        appearance: none;
    }
}

.hidden {
    display: none;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px dashed #C5C5C5;
    border-bottom: 1px dashed #F7F7F7;
}

.learn a {
    font-weight: normal;
    text-decoration: none;
    color: #b83f45;
}

.learn a:hover {
    text-decoration: underline;
    color: #787e7e;
}

.learn h3,
.learn h4,
.learn h5 {
    margin: 10px 0;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}

.learn h3 {
    font-size: 24px;
}

.learn h4 {
    font-size: 18px;
}

.learn h5 {
    margin-bottom: 0;
    font-size: 14px;
}

.learn ul {
    padding: 0;
    margin: 0 0 30px 25px;
}

.learn li {
    line-height: 20px;
}

.learn p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}

.quote {
    border: none;
    margin: 20px 0 60px 0;
}

.quote p {
    font-style: italic;
}

.quote p:before {
    content: '“';
    font-size: 50px;
    opacity: .15;
    position: absolute;
    top: -20px;
    left: 3px;
}

.quote p:after {
    content: '”';
    font-size: 50px;
    opacity: .15;
    position: absolute;
    bottom: -42px;
    right: 3px;
}

.quote footer {
    position: absolute;
    bottom: -40px;
    right: 0;
}

.quote footer img {
    border-radius: 3px;
}

.quote footer a {
    margin-left: 5px;
    vertical-align: middle;
}

.speech-bubble {
    position: relative;
    padding: 10px;
    background: rgba(0, 0, 0, .04);
    border-radius: 5px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 30px;
    border: 13px solid transparent;
    border-top-color: rgba(0, 0, 0, .04);
}

.learn-bar > .learn {
    position: absolute;
    width: 272px;
    top: 8px;
    left: -300px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

@media (min-width: 899px) {
    .learn-bar {
        width: auto;
        margin: 0 0 0 300px;
    }

    .learn-bar > .learn {
        left: 8px;
    }

    .learn-bar #todoapp {
        width: 550px;
        margin: 130px auto 40px auto;
    }
}
